* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
}

main {
  display: flex;
  align-items: center;
  margin-top: 120px;
}

h1, h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  width: fit-content;
  margin: 30px auto 30px auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  width: 100%;
  background-color: aquamarine;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar img {
  width:75px
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar a {
  color: rgb(36, 36, 125);
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: underline;
}

#books-table {
  border-collapse: collapse;
  margin: 30px auto;
  min-width: 300px;
  max-width: 50%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#books-table thead tr {
  background-color: aquamarine;
  text-align: left;
  font-weight: bold;
}

#books-table th,
#books-table td {
  padding: 12px 15px;
}

#books-table tbody tr {
  border-bottom: rgb(184, 184, 184) solid 1px;
}

#books-table tbody tr:nth-of-type(even) {
  background-color: bisque;
}

#books-table tbody tr:last-of-type {
  border-bottom: aquamarine solid 2px;
}

#book-form {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: auto;
  padding: 20px;
  background-color: aquamarine;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#book-form input {
  height: 35px;
  border: none;
  border-radius: 3px;
  padding: 5px 8px;
}

#book-form button {
  width: 50%;
  margin: 20px auto;
}

.remove-btn {
  padding: 5px;
  background-color: rgb(255, 78, 78);
  color: white;
  border: none;
  border-radius: 5px;
}

#sumbit-btn {
  border: rgb(0, 0, 0) solid 1px;
  border-radius: 5px;
  background-color: transparent;
  color: black;
  padding: 5px;
}

#contact-section {
  min-width: 300px;
  max-width: 60%;
  margin: auto;
  font-size: 16px;
  line-height: 1.5;
  padding: 0 10px;
}

#contact-section ul {
  margin-top: 15px;
  margin-bottom: 15px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 35px;
  background-color: bisque;
}

#book-list-section,
#form-section,
#contact-section {
  display:none
}

#contact-section p{
  margin-bottom: 15px;
}

section {
  width: fit-content;
  margin: auto;
}

section.active {
  display: block !important;
}

